{% extends "nkfbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">Combined Cluster</h4>
<table class="table table-striped table-sm table-bordered">
    <thead>
    <tr><td>
        <div class="row">
            <div class="col">
                <a href="{% url 'download_combined_cluster' %}?locality_level={{locality_level}}&genus_species_select={{genus_species_select}}&{{urlparameter.chronounit}}&exclude_china_only_taxa={{exclude_china_only_taxa}}&exclude_no_data_locality={{exclude_no_data_locality}}">[Download data]</a><br/>
                <a href="{% url 'show_combined_cluster' %}?locality_level={{locality_level}}&genus_species_select={{genus_species_select}}&{{urlparameter.chronounit}}&exclude_china_only_taxa={{exclude_china_only_taxa}}&exclude_no_data_locality={{exclude_no_data_locality}}">[Show cluster]</a>
            </div>
            <div class="col">
                <form method="GET" action="{% url 'show_combined_table'%}">
                {% csrf_token %}
                <div style="background-color:lightgray; width:500px">
                    <span style="display: inline-block;"><input type="checkbox" name="exclude_china_only_taxa" value="1" {%if exclude_china_only_taxa == '1' %}checked{%endif%}>Exclude China only taxa</span>
                    <span style="display: inline-block;"><input type="checkbox" name="exclude_no_data_locality" value="1" {%if exclude_no_data_locality == '1' %}checked{%endif%}>Exclude no data locality</span>
                </div>
                <div style="background-color:white; width:500px">
                    ChronoUnit:
                    {%for chronounit in chronounit_choices%}
                    <span style="display: inline-block;"><input type="checkbox" name="selected_chronounit" value="{{chronounit}}" {%if chronounit in selected_chronounit%}checked{%endif%}>{{chronounit}}</span>
                    {%endfor%}
                </div>
                <div style="background-color:lightgray; width:500px;">
                    Locality: 
                    <input type="radio" id="locality_level1" name="locality_level" value="1" {%if locality_level == 1%}checked{%endif%}>Level 1
                    <input type="radio" id="locality_level2" name="locality_level" value="2" {%if locality_level == 2%}checked{%endif%}>Level 2
                    <input type="radio" id="locality_level3" name="locality_level" value="3" {%if not locality_level == 1 and not locality_level == 2%}checked{%endif%}>Level 3
                </div>
                <div style="background-color: white; width:500px;">
                    Group by:
                    <input type="radio" id="genus_select" name="genus_species_select" value="genus" {%if genus_species_select == "genus"%}checked{%endif%}>genus
                    <input type="radio" id="species_select" name="genus_species_select" value="species" {%if genus_species_select != "genus"%}checked{%endif%}>species</div><span>
                <button type="submit">보기</button></span>
                </form>
            </div>
        </div>
    </td></tr></thead>
    <tbody>
        <tr><td>
            <div class="row">
                <div class="col-sm-2">
                    <input type="radio" id="similarity_index" name="similarity_index" onclick="set_similarity_index(this);" value="simpson">Simpson's<br/>
                    <input type="radio" id="similarity_index" name="similarity_index" onclick="set_similarity_index(this);" value="jaccard">Jaccard's<br/>
                    <input type="radio" id="similarity_index" name="similarity_index" onclick="set_similarity_index(this);" value="sorenson">Sorenson's
                </div>
                <div class="col-sm-2">
                    <input type="radio" id="analysis_method" name="analysis_method" onclick="set_analysis_method(this);" value="cluster">Cluster<br/>
                    <input type="radio" id="analysis_method" name="analysis_method" onclick="set_analysis_method(this);" value="bivariate">Bivariate
                </div>
                <div class="col-sm-2">
                    <input type="button" onclick="show_result()" value="Show"><br/>
                </div>
            </div>
        </td></tr>
        <tr><td>
            <div>
                <canvas id="cluster_canvas" width="1300" height="800">
                </canvas>
            </div>
            <div id="plot_div" style="width:1200px;height:1200px;"></div>
            <img id="jpg-export"></img>
            <table id="cluster_data" class="table">
            </table>
            <table id="cluster_data2" class="table">
            </table>
        </td></tr>
    </tbody>
</table>
<div id="detail_data_div" class="border" onclick="this.style.display='none';"><table id="detail_data_table" class="table text-center"></table></div>
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
<script>
class TreeNode {
	constructor( name ) {
        this.name = name;
        this.children = [];
        this.node_count = 0;
        this.position = 1;
        this.leaf = true;
    }
    appendChild( node, position ) {
        if( node.leaf ) {
            this.node_count += 1;
        } else {
            this.node_count += node.node_count;
        }        
        this.position = position;
        var branch_length = node.position - this.position;
        this.children[this.children.length] = { 'node': node, 'branch_length': branch_length };
    }
}


var json_data = JSON.parse("{{data_json|escapejs}}");
var taxa_list = JSON.parse("{{taxa_json|escapejs}}");
//console.log(json_data);
//console.log(taxa_list);
var original_keys = Object.keys(json_data);
var data_matrix = [];
var data_list = [];
var presence_count_list = [];
var analysis_method = 'cluster';
var similarity_index = 'jaccard';
var current_clientX = 0;
var current_clientY = 0;
var current_pageX = 0;
var current_pageY = 0;

if( true ) {

    var keys = JSON.parse(JSON.stringify(original_keys));
    for( var idx=0;idx<keys.length;idx++){
        var data = json_data[keys[idx]];
        count = 0;
        for(var idx2=0;idx2<data.length;idx2++){
            if( data[idx2] == 1 ) {
                count += 1;
            }
        }
        presence_count_list[presence_count_list.length] = count;
    }
    console.log("presence_count:", presence_count_list);
    
}
function mousemove(event){
    //console.log("pageX: ",event.pageX,     "pageY: ", event.pageY,     "clientX: ", event.clientX,     "clientY:", event.clientY)
    current_clientX = event.clientX;
    current_clientY = event.clientY;
    current_pageX = event.pageX;
    current_pageY = event.pageY;
}

window.addEventListener('mousemove', mousemove);

function set_similarity_index(myRadio) {
    //alert('Old value: ' + currentValue);
    similarity_index = myRadio.value;
}
function set_analysis_method(myRadio) {
    analysis_method = myRadio.value;
}
function show_result() {
    clear_cluster();
    console.log("similarity_index:", similarity_index);
    console.log("analysis_method:", analysis_method);
    if( similarity_index == 'simpson' ) {
        if( analysis_method == 'cluster' ) {
            show_simpson_cluster();
        } else if( analysis_method == 'bivariate' ) {
            show_simpson_bivariate();
        }
    } else if( similarity_index == 'jaccard' ) {
        if( analysis_method == 'cluster' ) {
            show_jaccard_cluster();
        } else if( analysis_method == 'bivariate' ) {
            show_jaccard_bivariate();
        }
    } else if( similarity_index == 'sorenson' ) {
        if( analysis_method == 'cluster' ) {
            show_sorenson_cluster();
        } else if( analysis_method == 'bivariate' ) {
            show_sorenson_bivariate();
        }
    }
}

function get_simpsons_index(data_a, data_b){
    //document.write(data_a,"<br/>");
    //document.write(data_b,"<br/>");
    count_a = 0; count_b = 0; common = 0;
    for(var idx=0;idx<data_a.length;idx++){
        if( data_a[idx] == 0 && data_b[idx] == 0 ) {
            continue
        }
        if( data_a[idx] == 1 ) { count_a += 1; }
        if( data_b[idx] == 1 ) { count_b += 1; }
        if( data_a[idx] == 1 && data_b[idx] == 1 ) { common += 1; }
    }
    if( count_a > count_b ) { denominator = count_b; } else { denominator = count_a; }
    if( denominator == 0 ) { 
        //document.write("divide by zero"); 
        return 0;
    }
    return (parseFloat(common) / parseFloat(denominator));
}
function get_jaccards_index(data_a, data_b){
    //document.write(data_a,"<br/>");
    //document.write(data_b,"<br/>");
    count_a = 0; count_b = 0; common = 0;
    for(var idx=0;idx<data_a.length;idx++){
        if( data_a[idx] == 0 && data_b[idx] == 0 ) {
            continue
        }
        if( data_a[idx] == 1 ) { count_a += 1; }
        if( data_b[idx] == 1 ) { count_b += 1; }
        if( data_a[idx] == 1 && data_b[idx] == 1 ) { common += 1; }
    }
    return (parseFloat(common) / parseFloat(count_a+count_b-common));
}

function get_sorensons_index(data_a, data_b){
    //document.write(data_a,"<br/>");
    //document.write(data_b,"<br/>");
    count_a = 0; count_b = 0; common = 0;
    for(var idx=0;idx<data_a.length;idx++){
        if( data_a[idx] == 0 && data_b[idx] == 0 ) {
            continue
        }
        if( data_a[idx] == 1 ) { count_a += 1; }
        if( data_b[idx] == 1 ) { count_b += 1; }
        if( data_a[idx] == 1 && data_b[idx] == 1 ) { common += 1; }
    }
    return (parseFloat(common*2) / parseFloat(count_a+count_b));
}
function clear_cluster() {
    var table = document.getElementById("cluster_data");
    table.innerHTML = '';
    var detail_table = document.getElementById("detail_data_table");
    detail_table.innerHTML = '';
    var canvas = document.getElementById("cluster_canvas");
    const context = canvas.getContext('2d');
    context.clearRect(0, 0, canvas.width, canvas.height);       

    var TESTER = document.getElementById('plot_div');
    TESTER.style.display="none";
    var canvas = document.getElementById("cluster_canvas");
    canvas.style.display="block";
    var img = document.getElementById("jpg-export");
    img.style.display="none";
}


//var canvas = document.getElementById("canvas");
//var context = canvas.getContext("2d");

//document.write(keys);
function get_circle_size(a_idx, a_presence_count_list){
    //console.log(a_presence_count_list);
    var max_val = Math.max(...a_presence_count_list);
    var min_val = Math.min(...a_presence_count_list);
    var val_range = max_val - min_val;
    var min_size = 10;
    var max_size = 40;
    var return_size = min_size + ( ( max_size - min_size ) / val_range ) * presence_count_list[a_idx];
    //console.log(min_val, max_val, min_size, max_size, val_range, a_presence_count_list[a_idx], return_size);
    return return_size;
}

function show_simpson_bivariate() {
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    console.log("show simpson bivariate");
    console.log("key list:", keys);

    var data_matrix = generate_bivariate_matrix('simpson');
    console.log("simpson's bivariate datamatrix:", data_matrix);

    bivariate_matrix_to_table(keys,data_matrix);

    plot_bivariate(keys,data_matrix,'simpson');
}

function show_jaccard_bivariate() {
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    console.log("show jaccard bivariate");
    console.log("key list:", keys);

    var data_matrix = generate_bivariate_matrix('jaccard');
    console.log("jaccard's bivariate datamatrix:", data_matrix);

    bivariate_matrix_to_table(keys,data_matrix);

    plot_bivariate(keys,data_matrix,'jaccard');
}


function show_sorenson_bivariate() {
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    console.log("show sorenson bivariate");
    console.log("key list:", keys);

    var data_matrix = generate_bivariate_matrix('sorenson');
    console.log("sorenson's bivariate datamatrix:", data_matrix);

    bivariate_matrix_to_table(keys,data_matrix);

    plot_bivariate(keys,data_matrix,'sorenson');
}

function plot_bivariate(a_keys,a_data_matrix,a_similarity_index) {
    var plot_data = [];
    for( idx=0;idx<a_data_matrix.length;idx++){
        var data_row = a_data_matrix[idx];
        var trace = { 
            x: [data_row[0]], 
            y: [data_row[1]],
            mode:'markers+text', 
            name: a_keys[idx]+"("+presence_count_list[idx]+")",
            text: [a_keys[idx]+"("+presence_count_list[idx]+")"],
            textposition: ['bottom center','top center','left','right'][parseInt(Math.random()*4)],
            marker: {
                color:'' + parseInt(Math.random() * 0xffffff).toString(16),
                symbol:'circle',
                size: get_circle_size(idx,presence_count_list.slice(0,-2))
            }
        };
        plot_data[plot_data.length] = trace;
    }

    var layout = {
        title:'Bivariate, ' + a_similarity_index,
        width: 600,
        height: 600,
        paper_bgcolor: 'rgb(254, 247, 234)',
        plot_bgcolor: 'rgb(254, 247, 234)',
        hovermode: 'closest',
        xaxis: {
            showgrid: false,
            showline: true,
            linecolor: 'rgb(102, 102, 102)',
            titlefont: {
                font: { color: 'rgb(204, 204, 204)'}
            },
            tickfont: {
                font: { color: 'rgb(102, 102, 102)'}
            },
            autotick: false,
            dtick: 10,
            ticks: 'outside',
            tickcolor: 'rgb(102, 102, 102)'
        },
        margin: {
            l: 140,
            r: 40,
            b: 50,
            t: 80
        },
        legend: {
            font: { size: 10,},
            yanchor: 'middle',
            xanchor: 'right'
        },
    };
    var other_options =    { toImageButtonOptions: {
        filename: 'image_filename',
        width: 1200,
        height: 1200,
        format: 'svg'
    }};
    var img_jpg= document.getElementById('jpg-export');
    var TESTER = document.getElementById('plot_div');
    TESTER.style.display="block";
    var canvas = document.getElementById("cluster_canvas");
    canvas.style.display="none";
    img_jpg.style.display="none";
	Plotly.newPlot( TESTER, plot_data, {}, other_options)
    /*
    .then(
    function(gd)
     {
      Plotly.toImage(gd,{format:'svg',height:1200,width:1200})
         .then(
             function(url)
         {
             img_jpg.setAttribute("src", url);
         }
         )
    });*/
    console.log(plot_data);
}

function generate_cluster_matrix(a_similarity_index) {
    var l_data_matrix = []
    for( var idx=0;idx<keys.length;idx++){
        var data_row = [];
        for( var idx2=0;idx2<keys.length;idx2++){
            if( idx != idx2 ) {
                var val;
                if( a_similarity_index == 'simpson' ) {
                    val = get_simpsons_index(json_data[keys[idx]],json_data[keys[idx2]]);
                } else if( a_similarity_index == 'jaccard' ) {
                    val = get_jaccards_index(json_data[keys[idx]],json_data[keys[idx2]]);
                } else if( a_similarity_index == 'sorenson' ) {
                    val = get_sorensons_index(json_data[keys[idx]],json_data[keys[idx2]]);
                }
                //document.write(idx + " vs " + idx2 + ": " +  val + "<br/>");
                var round_val = Math.round( val * 100 ) / 100.0;
                data_row[data_row.length] = round_val;
            }  else {
                data_row[data_row.length] = '-';
            }
        }
        l_data_matrix[l_data_matrix.length] = data_row;
    }
    return l_data_matrix;
}

function generate_bivariate_matrix(a_similarity_index) {
    var l_data_matrix = []
    for( var idx=0;idx<keys.length - 2;idx++){
        var data_row = [];
        for( var idx2=19;idx2<keys.length;idx2++){
            if( idx != idx2 ) {
                var val;
                if( a_similarity_index == 'simpson' ) {
                    val = get_simpsons_index(json_data[keys[idx]],json_data[keys[idx2]]);
                } else if( a_similarity_index == 'jaccard' ) {
                    val = get_jaccards_index(json_data[keys[idx]],json_data[keys[idx2]]);
                } else if( a_similarity_index == 'sorenson' ) {
                    val = get_sorensons_index(json_data[keys[idx]],json_data[keys[idx2]]);
                }
                //document.write(idx + " vs " + idx2 + ": " +  val + "<br/>");
                var round_val = Math.round( val * 100 ) / 100.0;
                data_row[data_row.length] = round_val;
            }
        }
        l_data_matrix[l_data_matrix.length] = data_row;
    }
    return l_data_matrix;
}

function cluster_matrix_to_table(a_keys,a_datamatrix) {
    var table = document.getElementById("cluster_data");
    var row = table.insertRow();
    col = row.insertCell();
    for( var idx2=0;idx2<a_keys.length;idx2++){
        col = row.insertCell();
        col.innerHTML = a_keys[idx2];
    }
    for( var idx=0;idx<a_keys.length;idx++){
        var row = table.insertRow();
        col = row.insertCell();
        col.innerHTML = a_keys[idx];
        for( var idx2=0;idx2<a_keys.length;idx2++){
            col = row.insertCell();
            if( idx != idx2 ) {
                var val = a_datamatrix[idx][idx2];
                //document.write(idx + " vs " + idx2 + ": " +  val + "<br/>");
                var round_val = Math.round( val * 100 ) / 100.0;
                col.innerHTML = round_val
            }
        }
    }
}

function show_detail_data(idx1,idx2){
    var keys = JSON.parse(JSON.stringify(original_keys));
    var table = document.getElementById("detail_data_table");
    table.innerHTML = '';
    var div = document.getElementById("detail_data_div");
    if( div.style.display == 'none'){
        div.style.display = 'block';
    } else {
        div.style.display = 'none';
    }
    div.style = "position:absolute; left:"+current_pageX+"px; top:"+current_pageY+"px; background-color:white;";        
    var row = table.insertRow();
    col = row.insertCell();
    col = row.insertCell();
    col.innerHTML = keys[idx1];
    col = row.insertCell();
    col.innerHTML = keys[idx2];
    //var json_data = JSON.parse("{{data_json|escapejs}}");
    //var taxa_list = JSON.parse("{{taxa_json|escapejs}}");
    for(var idx=0;idx<taxa_list.length;idx++){
        if( json_data[keys[idx1]][idx] == 0 && json_data[keys[idx2]][idx] == 0 ) continue; 
        var row = table.insertRow();
        col = row.insertCell();
        col.innerHTML = taxa_list[idx];
        col = row.insertCell();
        col.innerHTML = json_data[keys[idx1]][idx];
        col = row.insertCell();
        col.innerHTML = json_data[keys[idx2]][idx];
    }
}

function bivariate_matrix_to_table(a_keys,a_datamatrix) {
    var table = document.getElementById("cluster_data");
    var row = table.insertRow();
    col = row.insertCell();
    for( var idx2=a_keys.length-2;idx2<a_keys.length;idx2++){
        col = row.insertCell();
        col.innerHTML = a_keys[idx2];
    }
    //console.log("keys:", a_keys);
    //console.log("datamatrix:", a_datamatrix);
    for( var idx=0;idx<a_keys.length-2;idx++){
        var row = table.insertRow();
        col = row.insertCell();
        col.innerHTML = a_keys[idx];
        for( var idx2=0;idx2<2;idx2++){
            col = row.insertCell();
            loc_key1 = a_keys[idx];
            loc_key2 = a_keys[a_keys.length-2+idx2];
            var val = a_datamatrix[idx][idx2];
            //console.log(idx + " vs " + idx2 + ": " +  val + "<br/>");

            var round_val = Math.round( val * 100 ) / 100.0;
            var val_node = document.createTextNode("" + round_val);
            var a_elem = document.createElement("a");
            var idx_val = a_keys.length-2+idx2;
            a_elem.setAttribute("href","javascript:show_detail_data("+idx+","+idx_val+");");
            //a_elem.setAttribute("onmouseclick","show_data(event,"+idx+","+idx_val+");");
            a_elem.appendChild(val_node);
            //col.innerHTML = round_val;
            col.appendChild(a_elem);
        }
    }
}

function perform_upgma(a_keys, a_data_matrix) {
    //console.log(data_matrix);
    var node_list = [];
    for( var idx = 0 ; idx < a_keys.length ; idx++ ) {
        var node = new TreeNode( a_keys[idx] );
        node_list[node_list.length] = node;
    }

    while( a_keys.length > 1 ) {
        const [ new_data_matrix, new_keys, new_node_list ] = upgma_step(a_data_matrix, a_keys, node_list);
        a_data_matrix = new_data_matrix;
        a_keys = new_keys;
        node_list = new_node_list;
        console.log("keys len", a_keys.length);
    }
    return node_list;
}

function show_simpson_cluster() {
    var data_matrix = [];
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    //console.log("show simpson cluster");
    //console.log("key list:", keys);

    var data_matrix = generate_cluster_matrix('simpson');
    //console.log(data_matrix);

    cluster_matrix_to_table(keys,data_matrix);
    var node_list = perform_upgma(keys, data_matrix);
    //console.log(node_list);
    draw_result( node_list );
    //console.log("node:", node_list[0]);
}

function show_jaccard_cluster() {
    var data_matrix = [];
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    //console.log("show jaccard cluster");
    //console.log("key list:", keys);

    var data_matrix = generate_cluster_matrix('jaccard');
    //console.log(data_matrix);

    cluster_matrix_to_table(keys,data_matrix);
    var node_list = perform_upgma(keys, data_matrix);
    //console.log(node_list);
    draw_result( node_list );
    //console.log("node:", node_list[0]);
}

function show_sorenson_cluster() {
    var data_matrix = [];
    var data_list = [];
    var keys = JSON.parse(JSON.stringify(original_keys));
    //console.log("show sorenson cluster");
    //console.log("key list:", keys);

    var data_matrix = generate_cluster_matrix('sorenson');
    //console.log(data_matrix);

    cluster_matrix_to_table(keys,data_matrix);
    var node_list = perform_upgma(keys, data_matrix);
    //console.log(node_list);
    draw_result( node_list );
    //console.log("node:", node_list[0]);
}

function draw_result( node_list ) {
    var node = node_list[0];
    //console.log("node:", node);
    draw_node( node, 0, node.node_count, node.node_count );
}
function draw_node( node, yfrom, yto, ytotal) {

    //console.log("name:",node.name, "node count:",node.node_count, "position:", node.position, "children:", node.children.length, "yfrom",yfrom,"yto",yto,"ytotal",ytotal );
    node_count = node.node_count;
    yfrom2 = yfrom;
    if( node.leaf ) {
        console.log( node.position, yfrom, node.name);
        draw_text( node.position + 0.01, (yfrom+0.2)/ ytotal, node.name );
    } else {
        for( var idx=0;idx<node.children.length;idx++){
            var n = node.children[idx]['node'];
            yto2 = yfrom2 + n.node_count;
            if( n.leaf ) {
                ypos2 = ( ( yfrom2 + yto2 ) / 2.0 ) / ytotal;
                ypos1 = ( ( yfrom + yto ) / 2.0 ) / ytotal;
            } else {
                ypos2 = ( ( yfrom2 + yto2 -1) / 2.0 ) / ytotal;
                ypos1 = ( ( yfrom + yto ) / 2.0 ) / ytotal;
            }
            draw_line( node.position, ypos1, node.position, ypos2 );
            draw_line( node.position, ypos2, n.position, ypos2 )
            //draw_text( n.position, ypos2, ypos2*ytotal + "(" + yfrom2+","+yto2+")");
            //console.log(n);
            //console.log(n.node_count, n.position, n.children.length);
            draw_node(n, yfrom2, yto2, ytotal);
            yfrom2 = yto2+1;
        }
    }
}

function draw_line( x1,y1,x2,y2 ) {
    var canvas = document.getElementById("cluster_canvas");
    var context = canvas.getContext("2d");
    cwidth = canvas.width;
    cheight = canvas.height;
    x1 = x1 * 0.8 * cwidth + 0.1 * cwidth;
    y1 = y1 * 0.8 * cheight + 0.1 * cheight;
    x2 = x2 * 0.8 * cwidth + 0.1 * cwidth;
    y2 = y2 * 0.8 * cheight + 0.1 * cheight;
    context.lineWidth = 2;
    context.beginPath();
    context.moveTo(x1,y1);
    context.lineTo(x2,y2);
    context.strokeStyle='rgba(0,0,0,1)';
    context.stroke();
    context.closePath();
}

function draw_text( x1,y1,text ) {
    var canvas = document.getElementById("cluster_canvas");
    var context = canvas.getContext("2d");
    cwidth = canvas.width;
    cheight = canvas.height;
    x1 = x1 * 0.8 * cwidth + 0.1 * cwidth;
    y1 = y1 * 0.8 * cheight + 0.1 * cheight;
    context.font = "20px Impact";    
    context.fillText( text, x1, y1 );    
}

function matrix_to_table( a_data_matrix, a_key_list, a_table_id ) {
    var table = document.getElementById(a_table_id)
    var row = table.insertRow();
    var col = row.insertCell();
    for( var idx=0;idx<a_key_list.length;idx++){
        var col = row.insertCell();
        col.innerHTML = a_key_list[idx];
    }

    for( var idx=0;idx<a_data_matrix.length;idx++){
        var row = table.insertRow();
        var col = row.insertCell();
        col.innerHTML = a_key_list[idx];
        for( var idx2=0;idx2<a_data_matrix.length;idx2++){
            var col = row.insertCell();
            col.innerHTML = a_data_matrix[idx][idx2];
        }
    }
}

function upgma_step( a_data_matrix, a_key_list, a_node_list ){
    var max_val = 0;
    var merge_idx1, merge_idx2;
    var tree_hash = {};
    for( var idx = 0; idx < a_key_list.length; idx++ ) {
        for( var idx2 = 0; idx2 < a_key_list.length; idx2++ ) {
            if( a_data_matrix[idx][idx2] == '-' ) {
                continue;
            }
            if( a_data_matrix[idx][idx2] >= max_val ) {
                max_val = a_data_matrix[idx][idx2];
                if( idx < idx2 ) {
                    merge_idx1 = idx;
                    merge_idx2 = idx2;
                } else {
                    merge_idx1 = idx2;
                    merge_idx2 = idx;
                }
            }
        }
    }
    //merge idx1 and idx2 row/col;
    var merge_idx_list = [ merge_idx1, merge_idx2 ];
    //console.log("max val:", max_val, "indices:", merge_idx_list);
    var new_data_matrix = [];
    var new_key_list = [];
    var new_node_list = [];
    for( var idx = 0; idx < a_key_list.length; idx++ ) {
        if( idx == merge_idx1 ) {
            var new_key = a_key_list[merge_idx1] + ":" + a_key_list[merge_idx2];
            var new_node_name = "("+a_key_list[merge_idx1] + "," + a_key_list[merge_idx2] +")";
            new_key_list[new_key_list.length] = new_node_name;
            var new_node = new TreeNode( new_node_name );
            new_node.leaf = false;
            new_node.appendChild( a_node_list[merge_idx1], max_val );
            new_node.appendChild( a_node_list[merge_idx2], max_val );
            new_node_list[new_node_list.length] = new_node;
        } else if( idx == merge_idx2 ) {
            continue;
        } else {
            new_key_list[new_key_list.length] = a_key_list[idx];
            new_node_list[new_node_list.length] = a_node_list[idx];
        }
    }

    for( var idx = 0; idx < a_key_list.length; idx++ ) {
        var new_data_row = [];
        if( idx == merge_idx1 ) {
            for( var idx2 = 0; idx2 < a_key_list.length; idx2++ ) {
                if( idx2 == merge_idx1 ) {
                    new_data_row[new_data_row.length] = '-'
                } else if( idx2 == merge_idx2 ) {
                    continue;
                } else {
                    new_data_row[new_data_row.length] = ( a_data_matrix[idx][idx2] + a_data_matrix[merge_idx2][idx2] ) / 2.0;
                }
            }
        } else if( idx == merge_idx2 ) {
            continue;
        } else {
            for( var idx2 = 0; idx2 < a_key_list.length; idx2++ ) {
                if( idx2 == merge_idx1 ) {
                    console.log(idx, idx2, merge_idx_list);
                    if( idx == merge_idx1 || idx == merge_idx2 ) {
                        new_data_row[new_data_row.length] = '-';
                    } else {
                        new_data_row[new_data_row.length] = ( a_data_matrix[idx][merge_idx1] + a_data_matrix[idx][merge_idx2] ) / 2.0;
                    }
                } else if( idx2 == merge_idx2 ) {
                    continue;
                } else {
                    new_data_row[new_data_row.length] = a_data_matrix[idx][idx2];
                }
            }
        }
        new_data_matrix[new_data_matrix.length] = new_data_row;
    }
    return [ new_data_matrix, new_key_list, new_node_list ];
}
/*
Plotly.downloadImage({
    filename: 'customNamedImage',
    format: 'png', //also can use 'jpeg', 'webp', 'svg'
    height: 500,
    width: 500
});
*/
</script>
{% endblock %}