{% extends "nkfbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">DB 변환</h4>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-striped table-sm">
    <thead>
    <tr><th><div>작업 선택</div></th></tr>
    {% if message %}
    <tr><th><div>{{message}}</div></th></tr>
    {%endif%}
    </thead>
    <tbody><tr><td>
    <div>
        <br/>
        <input type="radio" id="command" name="command" value="convert_1_to_t">북한 자료 -> Combined 변환<br/>
        <input type="radio" id="command" name="command" value="convert_p_to_t">PBDB 자료 -> Combined 변환<br/>
        <br/>
    </div>
    </td></tr>
    </tbody>
    <tfoot>
        <tr><th>
            <div><input type="submit" value="Run"></div>
        </td></tr>
    </tfoot>
        <!--select name="command" id="command"-->
        <!--/select-->
</table>
</div>
</form>

{% endblock %}
