{% extends "nkfbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">Occurrence Detail</h4>
<table class="table table-striped table-sm">
    <tr><th width="150">Stratigraphic unit</th><td>{{ occ.get_strat_unit_display }}</td></tr>
    <tr><th>ChronoUnit</th><td> {{ occ.chronounit.name}}</td></tr>
    <tr><th>Lithology</th><td> {{ occ.get_lithology_display }}</td></tr>
    <tr><th>Group</th><td> {{ occ.get_group_display }}</td></tr>
    <tr><th>Species name</th><td> {{ occ.species_name }}</td></tr>
    <tr><th>Genus name</th><td> {{ occ.genus_name }}</td></tr>
    <tr><th>Revised Species name</th><td> {{ occ.revised_species_name|default_if_none:'' }}</td></tr>
    <tr><th>Revised Genus name</th><td> {{ occ.revised_genus_name|default_if_none:'' }}</td></tr>
    <tr><th>Location</th><td>{{ occ.get_location_display }}</td></tr>
    <tr><th>Source</th><td>{{ occ.source }}</td></tr>
    <tr><th>Source(Eng)</th><td>{{ occ.source_eng }}</td></tr>
</table>
<a href="{% url 'occ_list' %}">[Occurrence List]</a>
<a href="{% url 'edit_occurrence' occ.id %}">[Edit]</a>
<a href="{% url 'delete_occurrence' occ.id %}" onclick="javascript:confirm('Are you sure?')">[Delete]</a>

{% endblock %}