{% extends "nkfbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">Occurrence List 5 - 개별 논문 2</h4>
<table class="table table-striped table-sm">
    <thead>
    <tr><td colspan="5" align="left">
     {{ page_obj.start_index }}-{{ page_obj.end_index }} out of {{ page_obj.paginator.count }} 
    </td><td colspan="4" align="right"><form method="GET" action="{% url 'occ_list4'%}">
        {% csrf_token %}
        <!--select name="filter2" id="filter2">
            <option value="" {% if filter2 == "" %}selected{%endif%}>전체</option>
          </select>
        <input type="text" size="30" name="filter1" value="{{filter1|default_if_none:""}}"><button type="submit">검색</button-->
    </form></td></tr></thead>

<tbody>
    <tr>
            <th><div>Author list</div></th>
            <th><div>Year</div></th>
            <th><div>Geologic period</div></th>
            <th><div>Fossil group</div></th>
            <th><div>Locality</div></th>
            <th><div>Stratigraphy</div></th>
            <th><div>Lithology</div></th>
            <th><div>Listed species</div></th>
            <th><div>Note</div></th>
        </tr>
        {% if occ_list %}   
        {% for occ in page_obj %}
        <tr class="tr_link" style="cursor:pointer;" onclick="javascript:window.location='{% url 'occ_detail5' occ.id %}';">
            <td align="center">{{ occ.author_list }}</td>
            <td align="center">{{ occ.year }}</td>
            <td align="center">{{ occ.geologic_period }}</td>
            <td align="center">{{occ.fossil_group}}({{occ.fossil_group_code}})</td>
            <td align="center">{{ occ.locality}}({{occ.locality_code}})</td>
            <td align="center">{{ occ.stratigraphy}}({{occ.stratigraphy_code}})</td>
            <td align="center">{{ occ.get_lithology_display}}</td>
            <td align="center">{{ occ.listed_species }}</td>
            <td align="center">{{ occ.note }}</td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="9">No occurrences are available.</td></tr>
    {% endif %}
    </tbody>
        <tfooter>
        <tr><td colspan="5" align="left">
            {% include "nkfpaginator.html" %}
        </td><td colspan="4" align="right">
            <!--a href="{% url 'add_occurrence' %}">[Add Occurrence]</a-->
        </td></tr>
    </tfooter>
</table>

{% endblock %}