{% extends "nkfbase.html" %}
{% block content %}
<h1>Occurrence list</h1>
<table border="1">
    <thead>
    <tr><td colspan="4" align="left">
     {{ page_obj.start_index }}-{{ page_obj.end_index }} out of {{ page_obj.paginator.count }} 
    </td><td colspan="4" align="right">
        <form method="GET" action="{% url 'occ_list'%}">
            {% csrf_token %}
            <input type="text" size="30" name="filter1" value="{{filter1|default_if_none:''}}"><button type="submit">검색</button>
            </form>
        </td></tr>
    </thead>
    {% if occ_list %}   
    <tbody>
        <tr>
            <th><div>LithoUnit</div></th>
            <th><div>ChronoUnit</div></th>
            <th><div>Lithology</div></th>
            <th><div>Group</div></th>
            <th><div>Species name</div></th>
            <th><div>Revised name</div></th>
            <th><div>Location</div></th>
            <th><div>Source</div></th></tr>
        {% for occ in page_obj %}
        <tr class="tr_link" onclick="javascript:window.location='{% url 'occ_detail' occ.id %}';">
            <td align="center">{{ occ.get_strat_unit_display|default_if_none:'' }}</td>
            <td align="center">{{ occ.chronounit|default_if_none:'' }}</td>
            <td align="center">{{ occ.get_lithology_display|default_if_none:'' }}</td>
            <td align="center">{{ occ.get_group_display }}</td>
            <td align="center"><a href="{% url 'occ_detail' occ.id %}">{{ occ.species_name }}</a></td>
            <td align="center">{{ occ.revised_species_name|default_if_none:'' }}</td>
            <td align="center">{{ occ.get_location_display }}</td>
            <td align="center">{{ occ.source }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="8">No occurrences are available.</td></tr>
    {% endif %}
    </tbody>
    <tfooter>
        <tr><td colspan="4" width="400" align="left">
            {% include "paginator.html" %}
        </td><td colspan="4" width="400" align="right">
            <!--a href="{% url 'add_occurrence' %}">[Add Occurrence]</a-->
            <a href="{% url 'show_table' %}">[Show Table]</a>
            <a href="{% url 'nkdata_download' %}">[Download]</a>
        </td></tr>
    </tfooter>
</table>

{% endblock %}