{% extends "nkfbase.html" %}
{% block content %}
<h1>Occrrence info 3</h1>

<table border="1" width="800">
    <tr><th width="150">Author</th><td>{{ occ.author }}</td></tr>
    <tr><th>Year</th><td> {{ occ.year }}</td></tr>
    <tr><th>Publication</th><td> {{ occ.publication }}</td></tr>
    <tr><th>Issue</th><td> {{ occ.issue }}</td></tr>
    <tr><th>Pages</th><td>{{ occ.pages }}</td></tr>
    <tr><th>Geologic period</th><td>{{ occ.geologic_period }}</td></tr>
    <tr><th>Fossil group</th><td>{{ occ.fossil_group }}</td></tr>
    <tr><th>Locality</th><td>{{ occ.locality }}</td></tr>
    <tr><th>Stratigraphy</th><td>{{ occ.stratigraphy }}</td></tr>
    <tr><th>Lithology</th><td>{{ occ.lithology }}</td></tr>
    <tr><th>Figure</th><td>{{ occ.figure }}</td></tr>
    <tr><th>Implication</th><td>{{ occ.implication }}</td></tr>
    <tr><th>Title</th><td>{{ occ.title }}</td></tr>
    <tr><th>Listed name</th><td>{{ occ.listed_name }}</td></tr>
    <tr><th>Note</th><td>{{ occ.note }}</td></tr>
</table>
<a href="{% url 'nkfcluster:occ_list3' %}">[Occurrence List3]</a>
<a href="{% url 'nkfcluster:edit_occurrence3' occ.id %}">[Edit]</a>
<a href="{% url 'nkfcluster:delete_occurrence3' occ.id %}" onclick="javascript:confirm('Are you sure?')">[Delete]</a>

{% endblock %}