<nav class="navbar navbar-expand-lg navbar-dark bg-info my-3 p-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'rose:file_list' %}">Rose diagram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rose diagram
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'rose:file_list' %}">전체목록</a></li>
              <li><a class="dropdown-item" href="/media/geolmap/">지도</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Others
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'phylomanager:run_list' %}">Phylomanager</a></li>
              <li><a class="dropdown-item" href="{% url 'nkfcluster:occ_list' %}">NkfCluster</a></li>
              <li><a class="dropdown-item" href="{% url 'freshwaterfish:occ_list' %}">Freshwater Fish</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>