{% extends "spbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">Edit Specimen</h4>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div>
    <table class="table table-striped table-sm">
        <tr><th>{{specimen_form.slab.label}}</th><td>{{specimen_form.slab}}</td></tr>
        <tr><th>{{specimen_form.specimen_no.label}}</th><td>{{specimen_form.specimen_no}}</td></tr>
        <tr><th>{{specimen_form.taxon_name.label}}</th><td>{{specimen_form.taxon_name}}</td></tr>
        <tr><th>{{specimen_form.phylum.label}}</th><td>{{specimen_form.phylum}}</td></tr>
        <tr><th>{{specimen_form.horizon.label}}</th><td>{{specimen_form.horizon}}</td></tr>
        <tr><th>{{specimen_form.remarks.label}}</th><td>{{specimen_form.remarks}}</td></tr>
        <tr><th>{{specimen_form.counterpart.label}}</th><td>{{specimen_form.counterpart}}</td></tr>
        <tr><th>{{specimen_form.memo.label}}</th><td>{{specimen_form.memo}}</td></tr>
    </table>
</div>
<input type="submit" value="Save">
</div>
</form>
{% endblock %}