{% extends "dikesync/dsbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">DB Management Command</h4>
<form action="" method="post" enctype="multipart/form-data" id="commandForm" onsubmit="return confirmAction()">
    {% csrf_token %}
<table class="table table-striped table-sm">
    <thead>
    <tr><th><div>Command</div></th></tr>
    {% if message %}
    <tr><th><div>{{message}}</div></th></tr>
    {%endif%}
    </thead>
    <tbody><tr><td>
    <div>
        <br/>
        <input type="radio" id="command" name="command" value="clear_dikesync_data">Clear DikeSync Data<br/>
        <br/>
    </div>
    </td></tr>
    </tbody>
    <tfoot>
        <tr><th>
            <div><input type="submit" value="Run" class="btn btn-primary"></div>
        </td></tr>
    </tfoot>
        <!--select name="command" id="command"-->
        <!--/select-->
</table>
</div>
</form>

<script>
function confirmAction() {
    const command = document.querySelector('input[name="command"]:checked');
    if (!command) {
        alert('Please select a command to run.');
        return false;
    }
    
    let confirmMessage = '';
    if (command.value === 'clear_dikesync_data') {
        confirmMessage = 'Are you sure you want to clear all DikeSync data? This action cannot be undone.';
    }
    
    return confirm(confirmMessage);
}
</script>

{% endblock %}
