<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    {% load static %}
    <title>{% block title %}NK Fossil cluster{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'phylomanager/style.css' %}">
</head>

<body>
    <div id="sidebar" class="sidebar">
        {% block sidebar %}
        <div class="menu_home"><a href="/nkfcluster/">Home</a></div>
        <div class="menu_items">
            <a href="/nkfcluster/occ_list/">전체</a><br/>
            <a href="/nkfcluster/occ_list2/">조선지질총서</a><br/>
            <a href="/nkfcluster/occ_list4/">개별문헌</a><br/>
            <a href="/nkfcluster/locality_list/">Locality list</a><br/>
            <a href="/nkfcluster/show_table/">Show Table</a><br/>
            <a href="/nkfcluster/pbdb_list/">PBDB</a><br/>            
            <br/>
        </div>
        <div class="switch_menu">
            <a href="/phylomanager/">Phylogenetic Analysis</a><br/>
        </div>
        {% if user_obj %} 
        <div>
            {{ user_obj.username }}<br/>
            <a href="/phylomanager/user_info/">[내 정보]</a><br/>
        </div>
        {% else %}
        <div>
            <form method="POST" action="/phylomanager/login/">
                {% csrf_token %}
                <input type="text" size="10" name="username" required><br/>
                <input type="password" size="10" name="password" required><br/>
                <button type="submit">Login</button>                 
            </form>
            <a href="{% url 'user_register' %}">Register</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content" class="bodytext">
        {% block content %}{% endblock %}
    </div>
</body>
</html>