{% extends "base.html" %}
{% block content %}
<h1>Run list</h1>
{% if run_list %}
    <table border="1" width="800" class="list_table">
        <tr>
            <th><div class="run_list_title">Title</div></th>
            <th><div class="run_list_status">Status</div></th>
            <th><div class="run_list_run_by">Run by</div></th>
            <th><div class="run_list_nlegs">No. of legs</div></th>
            <th><div class="run_list_created">Created</div></th></tr>
    {% for run in page_obj %}
        <tr class="tr_link" onclick="javascript:window.location='{% url 'run_detail' run.id %}';">
            <td align="center"><a href="{% url 'run_detail' run.id %}">{{ run.run_title }}</a></td>
            <td align="center">{{ run.get_run_status_display }}</td>
            <td align="center">{{run.get_run_by}}</td>
            <td align="center">{{run.get_number_of_legs}}</td>
            <td align="center">{{run.created_datetime}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No runs are available.</p>
{% endif %}

<table border="0" width="800">
    <tr><td width="400" align="left">
        {% include "paginator.html" %}
    </td><td width="400" align="right">
        <a href="{% url 'add_run_upload_file' %}">[Add Run]</a>
    </td></tr></table>

{% endblock %}