{% extends "base.html" %}
{% block content %}
<h1>Edit Run</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div>
    <table width="800">
        <tr><th>{{run_form.run_title.label}}</th><td>{{run_form.run_title}}</td></tr>
        <tr><th>{{run_form.run_status.label}}</th><td>{{run_form.instance.get_run_status_display}}</td></tr>
        <tr><th>{{run_form.run_by.label}}</th><td>{{run_form.run_by}}</td></tr>
        <tr><th>{{run_form.datafile.label}}</th><td>{{run_form.datafile}}</td></tr>
        <tr><th>{{run_form.start_datetime.label}}</th><td>{{run_form.start_datetime.value}}</td></tr>
        <tr><th>{{run_form.finish_datetime.label}}</th><td>{{run_form.finish_datetime.value}}</td></tr>
    </table>
</div>
<div id="leg-form-container">
{{ leg_formset.management_form }}
<div id="empty-form" style="display:none; border: 1px solid grey;">
    <table width="800">
            <tr><th>{{leg_formset.empty_form.leg_title.label}}</th><td>{{leg_formset.empty_form.leg_title}}</td></tr>
            <tr><th>{{leg_formset.empty_form.leg_status.label}}</th><td>{{leg_formset.empty_form.instance.get_leg_status_display}}</td></tr>
            <tr><th>{{leg_formset.empty_form.leg_package.label}}</th><td>{{leg_formset.empty_form.leg_package}}</td></tr>
            <tr><th>{{leg_formset.empty_form.leg_type.label}}</th><td>{{leg_formset.empty_form.leg_type}}</td></tr>
            <tr><th>{{leg_formset.empty_form.start_datetime.label}}</th><td>{{leg_formset.empty_form.start_datetime.value}}</td></tr>
            <tr><th>{{leg_formset.empty_form.finish_datetime.label}}</th><td>{{leg_formset.empty_form.finish_datetime.value}}</td></tr>
    </table>
    <table width="800" id="mp_options___prefix__">
    </table>
    <table width="800" id="ml_options___prefix__">
            <tr><th>{{leg_formset.empty_form.ml_bootstrap.label}}</th><td>{{leg_formset.empty_form.ml_bootstrap}}</td></tr>
            <tr><th>{{leg_formset.empty_form.ml_bootstrap_type.label}}</th><td>{{leg_formset.empty_form.ml_bootstrap_type}}</td></tr>
            <tr><th>{{leg_formset.empty_form.substitution_model.label}}</th><td>{{leg_formset.empty_form.substitution_model}}</td></tr>
    </table>
    <table width="800" id="bayesian_options___prefix__">
            <tr><th>{{leg_formset.empty_form.mcmc_burnin.label}}</th><td>{{leg_formset.empty_form.mcmc_burnin}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_relburnin.label}}</th><td>{{leg_formset.empty_form.mcmc_relburnin}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_burninfrac.label}}</th><td>{{leg_formset.empty_form.mcmc_burninfrac}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_ngen.label}}</th><td>{{leg_formset.empty_form.mcmc_ngen}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_nruns.label}}</th><td>{{leg_formset.empty_form.mcmc_nruns}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_nst.label}}</th><td>{{leg_formset.empty_form.mcmc_nst}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_nrates.label}}</th><td>{{leg_formset.empty_form.mcmc_nrates}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_printfreq.label}}</th><td>{{leg_formset.empty_form.mcmc_printfreq}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_samplefreq.label}}</th><td>{{leg_formset.empty_form.mcmc_samplefreq}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_nruns.label}}</th><td>{{leg_formset.empty_form.mcmc_nruns}}</td></tr>
            <tr><th>{{leg_formset.empty_form.mcmc_nchains.label}}</th><td>{{leg_formset.empty_form.mcmc_nchains}}</td></tr>
    </table>
</div>
{% for leg in leg_formset %}
{% for hidden in leg.hidden_fields %}
    {{ hidden }}
{% endfor %}
<div class="leg-form" style="border: 1px solid grey;">
    <table width="800">
            <tr><th>{{leg.leg_title.label}}</th><td>{{leg.leg_title}}</td></tr>
            <tr><th>{{leg.leg_status.label}}</th><td>{{leg.instance.get_leg_status_display}}</td></tr>
            <tr><th>{{leg.leg_package.label}}</th><td>{{leg.leg_package}}</td></tr>
            <tr><th>{{leg.leg_type.label}}</th><td>{{leg.leg_type}}</td></tr>
            <tr><th>{{leg.start_datetime.label}}</th><td>{{leg.start_datetime.value}}</td></tr>
            <tr><th>{{leg.finish_datetime.label}}</th><td>{{leg.finish_datetime.value}}</td></tr>
    </table>
    <table width="800" id="mp_options_{{forloop.counter0}}">
    </table>
    <table width="800" id="ml_options_{{forloop.counter0}}">
            <tr><th>{{leg.ml_bootstrap.label}}</th><td>{{leg.ml_bootstrap}}</td></tr>
            <tr><th>{{leg.ml_bootstrap_type.label}}</th><td>{{leg.ml_bootstrap_type}}</td></tr>
            <tr><th>{{leg.substitution_model.label}}</th><td>{{leg.substitution_model}}</td></tr>
    </table>
    <table width="800" id="bayesian_options_{{forloop.counter0}}">
            <tr><th>{{leg.mcmc_burnin.label}}</th><td>{{leg.mcmc_burnin}}</td></tr>
            <tr><th>{{leg.mcmc_relburnin.label}}</th><td>{{leg.mcmc_relburnin}}</td></tr>
            <tr><th>{{leg.mcmc_burninfrac.label}}</th><td>{{leg.mcmc_burninfrac}}</td></tr>
            <tr><th>{{leg.mcmc_ngen.label}}</th><td>{{leg.mcmc_ngen}}</td></tr>
            <tr><th>{{leg.mcmc_nruns.label}}</th><td>{{leg.mcmc_nruns}}</td></tr>
            <tr><th>{{leg.mcmc_nst.label}}</th><td>{{leg.mcmc_nst}}</td></tr>
            <tr><th>{{leg.mcmc_nrates.label}}</th><td>{{leg.mcmc_nrates}}</td></tr>
            <tr><th>{{leg.mcmc_printfreq.label}}</th><td>{{leg.mcmc_printfreq}}</td></tr>
            <tr><th>{{leg.mcmc_samplefreq.label}}</th><td>{{leg.mcmc_samplefreq}}</td></tr>
            <tr><th>{{leg.mcmc_nruns.label}}</th><td>{{leg.mcmc_nruns}}</td></tr>
            <tr><th>{{leg.mcmc_nchains.label}}</th><td>{{leg.mcmc_nchains}}</td></tr>
    </table>
</div>
{% endfor %}

<input type="button" id="add-form" value="Add Leg">
<input type="submit" value="Save">
</div>
</form>
<script>
    var leg_type=[];
    var leg_package=[];
    var package_type_list = JSON.parse("{{data_json|escapejs}}");
    console.log(package_type_list)
    function set_leg_type(event){
        console.log("set leg type called", this);
        var form_index = this.getAttribute('form_index');
        console.log("form index:", form_index);
        event.preventDefault();

        var curr_leg_type = this;
        console.log("curr_leg_type", curr_leg_type);
        //console.log("onChange", curr_leg_type.onChange());

        var selected_index = curr_leg_type.selectedIndex;
        console.log("selected_index", selected_index);
        selected_text = curr_leg_type.options[selected_index].value;
        console.log(selected_text);
        if( selected_text == 'BY') {
            bayesian_display = "block";
            ml_display = "none";
            mp_display = "none";
        } else if ( selected_text == 'ML'){
            bayesian_display = "none";
            ml_display = "block";
            mp_display = "none";
        } else if ( selected_text == 'MP'){
            bayesian_display = "none";
            ml_display = "none";
            mp_display = "block";
        }
        document.getElementById('bayesian_options_'+String(form_index)).style.display=bayesian_display;
        document.getElementById('ml_options_'+String(form_index)).style.display=ml_display;
        document.getElementById('mp_options_'+String(form_index)).style.display=mp_display;
    }

    function set_leg_package(event){
        console.log("set leg package called", this);
        var form_index = this.getAttribute('form_index');
        console.log("form index:", form_index);
        event.preventDefault();

        var curr_leg_package = this;
        console.log("curr_leg_package", curr_leg_package);
        //console.log("onChange", curr_leg_type.onChange());

        var selected_index = curr_leg_package.selectedIndex;
        console.log("selected_index", selected_index);
        selected_package_name = curr_leg_package.options[selected_index].text;
        if( selected_index == 0 ) {
            leg_type[form_index].selectedIndex = 0;
            return;
        } else {
            console.log("selected package=",selected_package_name);
            console.log("selected package index:", selected_index);
            var p_type_value = "";
            for( i=0;i<package_type_list.length;i++){
                if( package_type_list[i][0] == selected_package_name ) {
                    p_type_value = package_type_list[i][1];
                }
            }
            console.log("selected package type:", p_type_value);
            //console.log(leg_type[form_index].options[selected_package-1].value);
            leg_type[form_index].value = p_type_value;
        }
        if ("createEvent" in document) {
            console.log('create event');
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("change", false, true);
            leg_type[form_index].dispatchEvent(evt);
        } else {
            leg_type[form_index].fireEvent("onchange");
        }
    }

    let legForm = document.querySelectorAll(".leg-form")
    let emptyForm = document.querySelector("#empty-form")
    let container = document.querySelector("#leg-form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_leg_set-TOTAL_FORMS")

    console.log(emptyForm);
    console.log(totalForms);

    addButton.addEventListener('click', addForm)

    function set_leg_type_event_listener(  a_leg,  a_idx ) {
        a_leg.addEventListener('change', set_leg_type, false);
        a_leg.setAttribute('form_index', a_idx);
        console.log("added", a_idx, "to leg type");
        //leg_type[idx].onchange();
        //leg_type[idx].fireEvent("onchange");
        //set_leg_type();

        if ("createEvent" in document) {
            console.log('create event');
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("change", false, true);
            a_leg.dispatchEvent(evt);
        } else {
            a_leg.fireEvent("onchange");
        }
    }

    function set_leg_package_event_listener(  a_package,  a_idx ) {
        a_package.addEventListener('change', set_leg_package, false);
        a_package.setAttribute('form_index', a_idx);
        console.log("added", a_idx, "to package package");
        //leg_type[idx].onchange();
        //leg_type[idx].fireEvent("onchange");
        //set_leg_type();

        if ("createEvent" in document) {
            console.log('create event');
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("change", false, true);
            a_package.dispatchEvent(evt);
        } else {
            a_package.fireEvent("onchange");
        }

    }

    function addForm(e){
        e.preventDefault();
        let formNum = legForm.length-1
        console.log("fornNum:", formNum);
        let newForm = emptyForm.cloneNode(true);
        newForm.style.display="block";
        formNum++;
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formNum);
        console.log(newForm);
        container.insertBefore(newForm, addButton)
        totalForms.setAttribute('value', `${formNum+1}`)
        console.log('formNum:', formNum);

        leg_type[formNum] = document.getElementById('id_leg_set-'+String(formNum)+'-leg_type');

        set_leg_type_event_listener( leg_type[formNum], formNum );
        leg_package[formNum] = document.getElementById('id_leg_set-'+String(formNum)+'-leg_package');
        set_leg_package_event_listener( leg_package[formNum], formNum );
    }   

    for( var idx=0;idx<legForm.length;idx++){
        leg_type[idx] = document.getElementById('id_leg_set-'+String(idx)+'-leg_type');
        set_leg_type_event_listener( leg_type[idx], idx );
        leg_package[idx] = document.getElementById('id_leg_set-'+String(idx)+'-leg_package');
        set_leg_package_event_listener( leg_package[idx], idx );
    }
    

</script>
{% endblock %}