{% extends "frbase.html" %}
{% block content %}
<h4 class="bd-title p-2 bg-secondary text-light">Occurrence List</h4>
<table class="table table-striped table-sm">
    <thead>
        <tr><td colspan="6">
        {{ page_obj.start_index }}-{{ page_obj.end_index }} out of {{ page_obj.paginator.count }} 
        </td><td colspan="6" align="right">
            <form method="GET" action="{% url 'occ_list'%}">
                {% csrf_token %}
            <input type="text" size="30" name="filter1" value="{{filter1|default_if_none:''}}"><button type="submit">검색</button>
                </form>
        </td></tr>
    </thead>
    {% if occ_list %}   
    <tbody>
        <tr>
            <th><div>Locality</div></th>
            <th><div>Country</div></th>
            <th><div>Order/Clade</div></th>
            <th><div>Family</div></th>
            <th><div>Genus</div></th>
            <th><div>Origin</div></th>
            <th><div>Epoch</div></th>
            <th><div>Age</div></th>
            <th><div>Environment</div></th>
            <th><div>Continent</div></th>
            <th><div>Period</div></th>
            <th><div>Reference</div></th>
        </tr>
        {% for occ in page_obj %}
        <tr class="tr_link" style="cursor:pointer;" onclick="javascript:window.location='{% url 'occ_detail' occ.id %}';">
            <td>{{ occ.locality|default_if_none:'' }}</td>
            <td>{{ occ.country|default_if_none:'' }}</td>
            <td>{{ occ.clade|default_if_none:'' }}</td>
            <td>{{ occ.family|default_if_none:'' }}</td>
            <td><a href="{% url 'occ_detail' occ.id %}">{{ occ.genus }}</a></td>
            <td>{{ occ.origin|default_if_none:'' }}</td>
            <td>{{ occ.epoch|default_if_none:'' }}</td>
            <td>{{ occ.age|default_if_none:'' }}</td>
            <td>{{ occ.environment|default_if_none:'' }}</td>
            <td>{{ occ.continent|default_if_none:'' }}</td>
            <td>{{ occ.period|default_if_none:'' }}</td>
            <td>{{ occ.reference|default_if_none:'' }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="12">No occurrences are available.</td></tr>
    {% endif %}
    </tbody>
    <tfooter>
        <tr><td colspan="6" width="400">
            {% include "frpaginator.html" %}
        </td><td colspan="6" width="400" align="right">
            <a href="{% url 'add_occurrence' %}">[Add Occurrence]</a>
        </td></tr>
    </tfooter>
</table>

{% endblock %}